*{
  /*outline:dotted 3px white;*/
  margin:0;
  padding:0;
}

body{
  background-image: url(http://revelwallpapers.net/d/756D78797059764879724B586B356952716D3573734E6A653238696A63773D3D/rain-road.jpg);
  width:1500px;

}

header{
  height:500px;
  background-color: #FF925D;
  background-image:url(http://revelwallpapers.net/d/756D78797059764879724B586B356952716D3573734E6A653238696A63773D3D/rain-road.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  margin: 0 auto;
}

header div{
  position:relative;
}

header h1, header h2{
  display:inline-block;
  position:absolute;
  top:110px;
  width:100%;
  text-align:center;
  font:100px 'Bree Serif', serif;
  color: white;
  margin:auto;
}

header h2{
  position:relative;
  background:none;
  top:220px;
  font:30px 'Bree Serif', serif;
}

header div img{
  position:absolute;
  top:20px;
  left:300px;
  width:900px;
}

header nav{
  width:100%;
  height:70px;
  background-color: #F2AC54;
  text-align:center;
  margin-top: 280px;

}

header nav li{
  display:inline-block;
  background: #4D4E6D;
  border-radius:15px;
  font:35px 'Open Sans', serif;
  color:white;
  margin:-40px 0px;
  padding:0px 50px;

}

nav {
  border-color: black;
  border: 3px;
  padding-top: 79px;
  width: 100%;
  margin: 20px 0px;
}

header nav li a{
  text-decoration:none;
  font-family:
  color:white;
}

header nav li a:hover{
  color: ;
}

main{
  clear:both;
  width: 1400px;
}

.Paragraph{
  display:inline-block;
  float:left;
  background:  #4D4E6D;
  width: 500px;
  height:500px;
  margin:50px 20px 20px 20px;
}

.Paragraph h3{
  font: 35px 'Bree Serif';
  color: black;
  text-align: center;
  margin: 30px;

}

.Paragraph p{
  background: #214E8B;
  text-align: center;
  font: 24px 'Open Sans', sans-serif;
  color: black;
  line-height: 30px;
  margin: 60px 35px;
  padding: 20px 5px;
}

.Information{
  display:inline-block;
  float:left;
  background: #4D4E6D;
  border-radius:5px;
  width:600px;
  height:200px;
  margin:50px 20px 20px 20px;
  padding:10px;
}

.Information div{
  display:inline-block;
  position:relative;
  float:left;
  border-right:3px dotted black;
  width:290px;
  height:200px;
}

.Information h4{
  font: 25px 'Bree Serif', serif;
  text-align:center;
}

.Information p, .Information li{
  font: 20px 'Open Sans';
  text-align: center;
  margin-top: 30px;
}


.Information ul{
  display:inline-block;
  position:relative;
  float:left;
  width:300px;
  height:200px;
  list-style:none;
  margin-top:5px;
}

.Information li{
  line-height:30px;
  margin:0;
}

.RightPan {
  display:inline-block;
  float:left;
  background:  #4D4E6D;
  border-radius:5px;
  width:600px;
  height:300px;
  margin:20px;
  padding:10px;
}

.RightPan h3{
  font: 30px baloo, serif;
  color: black;
  text-align:center;
}

article{
  display:inline-block;
  border: 1px solid white;
  border-radius:5px;
  float:left;
  background: #214E8B;
  width:294px;
  height:255px;
}

article h4{
  font:23px 'Baloo', serif;
  color: black;
  text-align:center;
}

article p{
  font:15px 'Bree Serif', sans-serif;
  color: black;
  margin:10px;
  text-align:center;
}

.community a{
  font:15px 'Sans Open', sans-serif;
  text-decoration:none;
}

.RightPan a:hover{
  color: black;
}

#Subhead-Pic-2 img{
  border-radius:5px;
  width:110px;
  height:auto;
  margin-left:95px;
}

#Subhead-Pic img{
  border-radius:5px;
  width:180px;
  height:auto;
  margin-left:63px;
}
